.pageContainer {
    display: flex;
    flex-direction: row;
}

/* .nav {
    background-color: black;
} */

.logo {
    color: red;
    font-size: 40px;
    padding: 20px;
}

.logo:hover {
    cursor: pointer;
}

.section {
    width: 40%;
    margin: auto;
}

.card {
    width: 150px;
    height: 100px;
    /* display: none; */
    background-image: url('../public/manilla-folder-hi.png');
    background-size: cover;
    position: relative;
    text-align: center;
    vertical-align: center;
    /* background-color: #f1d592; */
    color: black;
    /* border: 1px solid black; */
}

/* .cardOpen {
    display: none;
    height: 250px;
    width: 250px;
    z-index: 1;
} */

.card:hover {
    position: relative;
    height: 250px;
    width: 250px;
    cursor: pointer;
    display: block;
    transition: .2s;
    text-align: center;
    /* background-color: white; */
    background-image: none;
    top: 0;
    left: 0;
}

.card:hover .title {
    line-height: normal;
}

.title {
    margin: auto;
    text-align: center;
    line-height: 100px;
}

.list {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    position: relative;
}

.listItem {
    list-style: none;
    position: relative;
    padding: 10px;
}

.card .details {
    display: none;
}

.text {
    /* color: white; */
    text-align: center;
    padding-bottom: 50px;
}

.card:hover .details {
    display: block;
    /* text-rendering: optimizeSpeed; */
}

.section {
    display: flex;
    flex-direction: column;
    position: relative;
}