.pageContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.logo {
    color: white;
    font-size: 40px;
    width: 500px;
    margin: auto;
    padding-bottom: 30px;
    font-family: 'Audiowide', cursive;
}

.logo:hover {
    cursor: pointer;
}

.section {
    width: 40%;
    margin: auto;
}

.card {
    width: 150px;
    height: 100px;
    display: flex;
    background-image: url('../public/manilla-folder-hi.png') !important;
    background-size: cover !important;
    position: relative;
    text-align: center;
    color: black;
    /* font-family: 'Audiowide', cursive; */
}

.card:hover {
    height: 250px;
    width: 250px;
    cursor: pointer;
    display: block;
    transition: .2s;
    text-align: center;
    z-index: 999;
    background-color: white;
    background-image: none !important;
    top: 0;
    left: 0;
}

.card .details {
    display: none;
}

.card:hover .title {
    line-height: normal;
}

.card:hover .details {
    display: block;
    font-family: 'Audiowide', cursive;
    font-size: 12px;
}

.title {
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.list {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    position: relative;
}

.listItem {
    list-style: none;
    position: relative;
    height: 150px;
    width: 200px;
}

.text {
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

.section {
    display: flex;
    flex-direction: column;
}